
   .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
  }
  
  .form-container {
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .send-otp-button {
    margin-left: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 420px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .reset-button {
    margin-right: 10px;
  }
  
  .card-footer {
    margin-top: 20px;
    width: 100%;
  }
  
  .card-footer mat-progress-bar {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .form-group {
      flex: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  @media (min-width: 601px) {
    .form-row .form-group:nth-child(1) {
      flex: 0 0 calc(50% - 5px);
      margin-right: 10px;
    }
    .form-row .form-group:nth-child(2) {
      flex: 0 0 calc(50% - 5px);
      margin-right: 0;
    }
  }
  

  .mat-form-field {
    width: 100%;
  }
  

  .mat-input-element {
    width: 100%;
  }
  
  
  
  
    